<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization by Diia ID</title>
</head>
<body>
<p><a href="./">Home</a></p>
<h2>Authorization by Diia ID</h2>

<form action="#" method="post">
    <p>Offer ID: <select name="branchAndOfferId">
        <optgroup th:each="branchOffers: ${branchesOffers}" th:label="${branchOffers.getBranch().getName()}">
            <option th:each="offer: ${branchOffers.getOffers()}"
                    th:value="${branchOffers.getBranch().getId().getId() + '!' +offer.getId().getId()}"
                    th:text="${offer.getName()}"></option>
        </optgroup>
    </select></p>
    <p>Request Id: <input type="text" name="requestId" th:value="${requestId}"/></p>
    <p><input type="submit"></p>
</form>
</body>
</html>