<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DIIA Client SDK usage</title>
</head>
<body>
<h2>This is a simple example of DIIA Client SDK usage</h2>
<p>
    There are several scenarios what you can do with <strong>documents</strong>
    <ul>
        <li><a href="./validating">Validating document by barcode</a></li>
        <li><a href="./requesting">Requesting document by barcode</a></li>
        <li><a href="./requesting-by-deeplink">Requesting document by deeplink</a></li>
    </ul>
</p>
<p>
    Diia ID operations:
    <ul>
        <li><a href="./sign">Sign document(s)</a></li>
        <li><a href="./auth">Authorization by Diia ID</a></li>
    </ul>
</p>
<p>
    Also you can manipulate <strong>branches</strong>
    <ul>
        <li><a href="./all-branches">View all registered branches</a></li>
        <li><a href="./create-branch">Create new branch</a></li>
        <li><a href="./delete-branch">Delete branch</a></li>
    </ul>
</p>
<p>
    And <strong>offers</strong>, created for branches
    <ul>
        <li><a href="./all-offers">View all offers on the branch</a></li>
        <li><a href="./create-offer">Create new offer on the branch</a></li>
        <li><a href="./delete-offer">Delete offer</a></li>
    </ul>
</p>
</body>
</html>